@import url('https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Pen+Script&display=swap');

body{
  font-family: 'Jua', sans-serif;
  background-color: black;
  color: white;
  text-align: center;
}
section{
  font-size: 20px;
  padding: 10px;
  line-height: 200%;
}
header{
  font-size: 30px;
  margin-bottom: 10%;
}
a{
  text-decoration: none;
  color: rgb(111, 255, 1);
}
div{
  display: flex;
  justify-content: space-between;
}
